<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <handlers>
            <clear />
            <add name="F5IsHandler" path="f5isapi.dll" verb="*"
                    type="F5.IsHandler" modules="ManagedPipelineHandler"
                    scriptProcessor="" resourceType="Unspecified"
                    requireAccess="Script" preCondition="" />
        </handlers>
        <security>
            <authentication>
                <anonymousAuthentication enabled="false" />
            </authentication>
        </security>
    </system.webServer>
</configuration>